body {
  --bg: hsl(0, 0%, 100%);
  --top-bg-pattern: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text-01: hsl(228, 12%, 44%);
  --text-02: hsl(230, 17%, 14%);
  --toggle: hsl(230, 22%, 74%);
  --transition-delay: 1s;

  font-size: 1.4rem;
  font-family: 'Inter', sans-serif;
  transition: var(--transition-delay);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

svg {
  height: 1.8rem;
  width: 1.8rem;
}