//COLORS

//primary
//----------------------------------

$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);

//social media icons
//----------------------------------

$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(90deg, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%);
$youtube: hsl(348, 97%, 39%);

$bp: 685px;